pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #eff;
    background: #263238
}

.hljs ::selection,
.hljs::selection {
    background-color: #314549;
    color: #eff
}

.hljs-comment {
    color: var(--md-code-hl-comment-color)
}

.hljs-tag {
    color: #b2ccd6
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
    color: var(--md-code-hl-punctuation-color)
}

.hljs-operator {
    opacity: var(--md-code-hl-operator-color)
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
    color: var(--md-code-hl-name-color)
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
    color: var(--md-code-hl-number-color)
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
    color: #d19018
}

.hljs-strong {
    font-weight: 700;
    color: #ffcb6b
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: var(--md-code-hl-string-color)
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: #6cadc7
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
    color: var(--md-code-hl-function-color)
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
    color: var(--md-code-hl-keyword-color)
}

.hljs-emphasis {
    color: #c792ea;
    font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #ff5370
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: 700
}
tr td img {
    width: 1.2em;
    margin-right: 0.5em;
}
h3 img {
    margin-right: 0.3em;
}